{
  "trailingComma": "none",
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "endOfLine": "crlf"
}
