<div class="about-us-section" id="about-us-section">
    <div class="container">
        <div class="about-us-flexbox">
            <div class="about-us-img">
                <img src="img/about-us-img.png" alt="About Us Image">
            </div>
            <div class="about-us-text">
                <h2>Sobre Nós</h2>
                <p>O David Center nasceu em 1956, construído por David Michelangelo. É uma empresa que passou de geração para geração e agora o Shopping David Center está nas mãos do neto de David Michelangelo, conhecido como David Neto.</p>
                <p>Com ele, o shopping ganhou uma nova cara e uma nova dinâmica, graças à construção de um estacionamento altamente tecnológico que consegue melhorar a fluidez dentro do estacionamento. Facilitando assim, a vida dos motoristas.</p>
            </div>
        </div>
    </div>
</div>