<div class="container">
    <footer>

        <div class="footer-logo">
            <div class="footer-items">
                <a href="/"><span class="bold-logo">David</span><span class="thin-logo">Center</span></a>
                <p>Estacione de Maneira Simples </p>
            </div>
        </div>

        <div class="footer-col">
            <div class="footer-items">
                <h4>Vagas</h4>
                <ul>
                    <a href="/vagas">
                        <li>Registro Vagas</li>
                    </a>
                </ul>
            </div>


            <div class="footer-items">
                <h4>Pagamento</h4>
                <ul>
                    <a href="/pagamento-online"><li>Pagamento Online</li></a>
                        <a href="/pagamento-online-pix"><li>Pagamento PIX</li></a>
                        <a href="/pagamento-online-cartao"><li>Pagamento Cartão</li></a>
                </ul>
            </div>
            <div class="footer-items">
                <h4>Contatos</h4>
                <ul>
                    <a href="mailto:info@davidcenter.com?subject=contato">
                        <li>info@davidcenter.com</li>
                    </a>
                    <a href="tel:1-800-200-300">
                        <li>1-800-200-300</li>
                    </a>
                    <a href="https://www.google.com/maps/place/3500+Deer+Creek+Rd,+Palo+Alto,+CA+94304,+EUA/@37.3938413,-122.1523226,17z/data=!3m1!4b1!4m5!3m4!1s0x808fb07514087a6f:0x4aab20a5291dd719!8m2!3d37.3938371!4d-122.1501339"
                        target="_blank">
                        <li>3500 Deer Creek Rd
                            Palo Alto, CA </li>
                    </a>
                </ul>
            </div>
        </div>
    </footer>
</div>