<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <!-- css reset -->
    <link rel="stylesheet" href="/css/css-reset.css">

    <!-- my css -->
    <link rel="stylesheet" href="/css/style.css">
</head>