<div class="container">
    <header>
        <nav class="navbar">
            <a href="/" class="navbar-logo">
                <span class="bold-logo">David</span><span class="thin-logo">Center</span>
            </a>

            <div class="nav-items">
                <a href="/" class="nav-item">Home</a>
                <a href="/pagamento" class="nav-item">Pagamento Online</a>
                <a href="/vagas" class="nav-item">Vagas</a>
            </div>
        </nav>
    </header>
</div>