<div class="services-section" id="services-section">
    <div class="container">
        <h2>Nossos Serviços</h2>
        <div class="services-item">
            <div class="payment-service">
                <h3>Pagamento rapido e facil</h3>
                <br>
                <p> O David Center agora possui um pagamento facil e rapido. Agora os pagamentos sao possíveis ser feitas pelo nosso sistema web de pagamento. Basta inserir os seus dados que o pagamento da conta do estacionamento estara feito. Faça ja seu pagamento com o link abaixo</p>
                <a href="pagamento-online.html"><button class="btn">Pague Agora</button></a>
            </div>

            <div class="vertical-line"></div>

            <div class="parking-control-service">
                <h3>Estacionamento vagas controladas</h3>
                <p> O David Center agora possui um sistema que consegue controlar quantas vagas tem no estacionamento. Assim nos conseguimos orientar os motorista mais facilmente, conseguindo achar a vaga ideal mais rapidamente assim, as pessoas conseguem desfrutar mais tempo em nosso Shopping Center</p>
                <a href="#"><button class="btn">Veja Vagas</button></a>
            </div>
        </div>
    </div>
</div>