<main class="hero-section">
    <div class="container">
        <div class="text-section">
            <h1>Estacione de Maneira Simples</h1>
            <p>O novo estacionamento do David Center promove a melhor experiencia para os motorista. São
                vagas
                monitoradas para facilitar na hora de estacionar e pagamento online com cartão de crédio e
                PIX.
                Venha conhecer</p>
            <a href="#services-section"><button class="btn">Saiba Mais</button></a>
        </div>
    </div>
</main>