
<div class="special-header">
    <a href="/" class="navbar-logo">
        <span class="bold-logo">David</span><span class="thin-logo">Center</span>
    </a>
    <div class="page-name">Pagamento Online</div>
</div>