body, html{
    margin:0px 0px;
}

.container{
    width: 1150px;
    margin: 0px auto;
}

/* texts */
a{
    text-decoration: none;
}

h1{
    font-size: 64px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color:white;
    line-height: 80px;
    margin-bottom: 37px;
    letter-spacing: 2px;
}

p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color:white;
    margin-bottom: 55px;
    line-height: 30px;
    letter-spacing: 1px;
}

h4{
    font-family: 'Roboto', sans-serif;
    font-size: 400;
    color: #2B353E;
    font-size:18px;
    line-height: 22px;
    margin-bottom: 22px;
}
/* texts */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}

.nav-item{
    text-decoration: none;
    color: #2B353E;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 500;
}

a .nav-item:hover{
    color:#FFA630;
}

.nav-items .nav-item{
    margin-left:25px;
    font-size: 18px;
}
.nav-items .nav-item:hover{
    color:#FFA630;
    transition: 0.6s;
} 

.bold-logo{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #2B353E;
    font-size: 36px;
}

.thin-logo{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #2B353E;
    font-size: 36px;
}


.hero-section{
    background-color: #2B353E;
    padding:100px 0px;
}

.text-section{
    width: 55%;
    /* width: 600px; */
    margin-right: 50px;
}


button {
    background-color: #FFA630;
    padding: 10px 20px;
    color:white;
    border-color: #FFA630;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
} 

/* button:hover{
} */

.services-section{
    text-align: center;
    padding:50px;
}

.services-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-section h2{
    color: #2B353E;
    font-size: 48px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 45px;
}

.services-section h3{
    color: #2B353E;
    font-size: 36px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 45px;
}

.services-section p{
    color: #2B353E;
}

.payment-service{
    flex:left;
    width:45%
}

.vagas-service{
    flex:right;
    width:45%
}

.vertical-line{
    border-left: 6px solid #FFA630;
    height: 500px;
}

.about-us-section{
    background-color: #2B353E;
    padding: 75px 0px;
}

.about-us{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-us-img{
    flex:left;  
    width: 45%; 
    position: relative;
    top: 5px;
}

.about-us-text{
    flex: right;
    width: 45%;
}

.about-us-text h2{
    color: white;
    font-size: 48px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    margin-bottom: 45px;
}

footer{
    display: flex;
    padding:60px;
}

.footer-logo{
    flex: 1;
}

.footer-items{
    flex: 1;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.footer1 .bold-logo{
    font-size: 24px;
}

.footer1 .thin-logo{
    font-size: 24px;
}

.footer1 p{
    color: #5a6778dc;
    width:55%;
    font-size: 14px;
    margin-top: 22px;
}


li{
    margin-bottom: 22px;
    color: #5a6778dc;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-size: 400;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card1{
    width: 30%;
    height:500px;;
    background-color: #FFFFFF;
    border-radius: 25px;
    text-align: center;
    align-items: center;
}
.card2{
    width: 30%;
    height:500px;
    background-color: #FFFFFF;
    border-radius: 25px;
    text-align: center;
    align-items: center;
}
.card3{
    width: 30%;
    height:500px;;
    background-color: #FFFFFF;
    border-radius: 25px;
    text-align: center;
    align-items: center;
}

.price-section{
    height:30%;
    background-color: #FFA630;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: left;
}

.price-section-text{
    vertical-align: center;
    width:50%;
    margin: 0px auto;
    padding-top: 9%;
}

.price-section h1{
    line-height: 70px;
    margin-bottom: 0px;
    letter-spacing: 0px;
    font-weight: 500;
}

h3{
    color: white;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

}

.price-text-section p{
    color:#2B353E;
    width: 80%;
    margin: 15px auto;
    text-align: left;
}

.primary-btn{
    display: inline-block;
    background-color: #FFA630;
    color:white;
    font-size: 24px;
    border-radius: 25px;
    padding:25px 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-right: 40px;
}

.secounday-btn{
    display: inline-block;
    background-color: #ffa53000;
    color:#FFA630;
    border:4px solid #FFA630;
    font-size: 24px;
    border-radius: 25px;
    padding:25px 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-left: 40px;
}

.buttons-section{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.bg-light{
    background-color: white;
}

.dark-text h2{
    color:#2B353E;
}
.dark-text p{
    font-weight: 400;
    color:#2B353E;
}

.bg-dark{
    background-color:#2B353E;
}

.bg-dark li, .bg-dark p{
    color:#ffffffa9
}

.bg-dark h4{
    color: #FFFFFF;
    font-weight: 200;
}

.bg-dark .bold-logo, .bg-dark .thin-logo{
    color:white;
}