<!DOCTYPE html>
<html lang="pt-br">
<%- include('parts/head') -%>
<body>
    <%- include('parts/header'); %>

    <div class="hero-section hero-section-aboutus"> 
        <!--Sobre o DavidCenter-->
        <div class="sobre-o-davidcenter">
            <div class="sobre-box">
                <div class="sobre-o-davidcenter-flexbox">
                    <img src="img/flatmall.svg" alt="" class="mall-image">
                    <div class="text-box">
                        <h1>Sobre o DavidCenter</h1>
                        <p>
                            O DavidCenter foi pensado para solucionar antigos problemas presentes nos estacionamentos convencionais como: a demora para encontrar vagas, sistema de cancela antiquado e um sistema de pagamento não automatizado; que geravam filas imensas e descontentamento dos clientes. A nova versão do estacionamento veio com a premissa de trazer novas funcionalidades e soluções tanto para os usuários quanto para os funcionários do estabelecimento. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
            <!--Funcionalidades-->
        <div class="funcionalidades">
                <div class="funcionalidades-box">
                    <h3>Funcionalidades</h3>
                </div>
        </div>
            <!--Estacione de Maneira Simples-->
        <div class="estacione-simples">
            <div class="estacione-box">
                <img src="img/flatsensor.svg" alt="" class="sensor-image">
                <div class="text-box">
                    <h2>Estacione de Maneira Simples</h2>
                    <p>
                        Para evitar que os veículos transitem mais que o necessário para encontrar vagas, gerando engarrafamentos e complicações, todas as vagas do nosso estacionamento possuem sensores de presença e um led indicativo da ocupação da vaga(verde para vaga livre e vermelho para vaga ocupada). É possível também checar em nosso site quantas vagas estão diponíveis e qual andar possui mais vagas livres.
                    </p>
                </div>
            </div>
        </div>
            <!--Segurança e Praticidade-->
        <div class="seguranca-praticidade">
            <div class="seguranca-box">
                    <img src="img/cancelarender.png" alt="" class="cancela-render">
                <h2>Segurança e Praticidade</h2>
                <p>
                    No lugar do antigo sistema de cancela foi instalado um sistema inovador com sensores de laço indutivo que promovem maior segurança e praticidade aos clientes. Com dois conjuntos de sensores, um antes da cancela e outro depois, a cancela só é fechada ao parar de detectar o veículo no último sensor. Esse tipo de sensor detecta apenas massa metálica, desse modo uma pessoa não poderá ativá-lo, apenas carros e motos.
                </p>
            </div>
        </div>
            <!--Pagamento Online-->
        <div class="pagamento-onlinet">
            <div class="pagamento-box">
                <div class="pagamento-flexbox">
                    <div class="pagamento-text-box">
                        <h2>Pagamento On-line</h2>
                        <p>
                            Pare de gastar minutos desnecessários em filas e pague seu ticket rapidamente da forma que preferir em nosso site. Aceitamos pagamentos em cartão de crédito, débito ou pix.
                        </p>
                    </div>
                    <img src="img/phonepaymentArtboard.png" alt="" class="phone-payment">
                </div>
            </div>
        </div>
            <!--Espaço Amplo e Moderno-->
        <div class="espaco-amplo">
                <div class="espaco-box">
                    <img src="img/spaceoverview.png" alt="" class="space-overview">
                    <div class="espaco-text-box">
                        <h2>Espaço Amplo e Moderno</h2>
                        <p>
                            Desenvolvido por arquitetos e designers renomados nosso espaço foi pensado para ter um aspecto moderno e simples. Nosso novo espaço possui paredes no tom Matte Black iluminadas por uma faixa contínua de fita led RGB, chão de asfalto da mais alta qualidade e um teto com aspecto de madeira iluminado por lâmpadas led tubulares no tom branco frio.
                        </p>
                    </div>
                </div>
        </div>
    </div>

        <!--Desenvolvedores-->
    <div class="desenvolvedores">
        <h3 class="dev-title">Desenvolvedores</h3>
        <div class="cards-flexbox">
            <!--ARTHUR-->
            <div class="card">
                <img src="img/arthur.png" alt="" class="card-img">
                <div class="card-content">
                    <div class="rectangle-gradient"></div>
                    <h2 class="card-title">Arthur Xavier</h2>
                    <p class="card-body">Curso: Eng. de Software<br>
                    Matrícula: 19087329<br>
                    Período: 2º<br>
                    Idade: 21</p>
                </div>
            </div>
            <!--DAVID-->
            <div class="card">
                <img src="img/david-megumi.png" alt="" class="card-img">
                <div class="card-content">
                    <div class="rectangle-gradient"></div>
                    <h2 class="card-title">David Megumi</h2>
                    <p class="card-body">Curso: Eng. de Software<br>
                    Matrícula: 21002558<br>
                    Período: 2º<br>
                    Idade: 18</p>
                </div>
            </div>
            <!--JOAO-->
            <div class="card">
                <img src="img/joao-ricardo.png" alt="" class="card-img">
                <div class="card-content">
                    <div class="rectangle-gradient"></div>
                    <h2 class="card-title">João Ricardo</h2>
                    <p class="card-body">Curso: Eng. de Software<br>
                    Matrícula: 21980446<br>
                    Período: 1º<br>
                    Idade: 22</p>
                </div>
            </div>
            <!--Miguel-->
            <div class="card">
                <img src="img/miguel.png" alt="" class="card-img">
                <div class="card-content">
                    <div class="rectangle-gradient"></div>
                    <h2 class="card-title">Miguel Magalhães</h2>
                    <p class="card-body">Curso: Eng. de Software<br>
                    Matrícula: 20079273<br>
                    Período: 2º<br>
                    Idade: 21</p>
                </div>
            </div>
        </div>
    </div>

    <%- include('parts/footerLight'); %>
</body>
</html>