<!DOCTYPE html>
<html lang="pt-br">

<%- include('parts/head') %>

<body>
    <div class="container">
        
        <div class="special-header">
            <a href="/" class="navbar-logo">
                <span class="bold-logo">David</span><span class="thin-logo">Center</span>
            </a>
            <div class="page-name">Alterar Preços</div>
        </div>
    </div>

        <main class="hero-section hero-section-payment hero-section-change-price"> 
            <div class="container">
                <h1 class="black-font"> Preco Atual </h1>
                <div class="cards">
        
                    <div class="card-precos">
                        <div class="price-section">
                            <div class="price-section-title">
                                <h3>Até 1h</h3>
                                <h1>R$<%= preco.preco1 %></h1>
                            </div>
                        </div>
                        <div class="price-text-section">
                            <p>Tempo limite para sair do estacionamento após o pagamento: 15 minutos </p>
                            <p>Caso passe esse tempo, deverá que efetuar um novo pagamento</p>
                        </div>
                    </div>
        
                    <div class="card-precos">
                        <div class="price-section">
                            <div class="price-section-title">
                                <h3>Até 2h</h3>
                                <h1>R$<%= preco.preco2 %></h1>
                            </div>
                        </div>
                        <div class="price-text-section">
                            <p>Tempo limite para sair do estacionamento após o pagamento: 15 minutos </p>
                            <p>Caso passe esse tempo, deverá que efetuar um novo pagamento</p>
                        </div>
                    </div>
                    <div class="card-precos">
                        <div class="price-section">
                            <div class="price-section-title">
                                <h3>Acima 2h</h3>
                                <h1>R$<%= preco.preco3 %></h1>
                            </div>
                        </div>
                        <div class="price-text-section">
                            <p>Tempo limite para sair do estacionamento após o pagamento: 15 minutos </p>
                            <p>Caso passe esse tempo, deverá que efetuar um novo pagamento</p>            
                
                        </div>
                    </div>

                </div>
            </main>

            <div class="container">
                <div class="price-change-section">
                    <h2>Novo Preço</h2>
                    <p class="black-font">Obs: é necessario preencher todos os campos, se não for alterar um campo, insira o mesmo valor que esta agora </p>

                    <form action="/alterar-preco" method="post">
                        <div class="inputwrapper">
                            <label for="preco1">Até 1h</label>
                            <input type="number" name="preco1" id="preco1" placeholder="R$" required>
                        </div>

                        <div class="inputwrapper">
                            <label for="preco2">Até 2h</label>
                            <input type="number" name="preco2" id="preco2" placeholder="R$" required>
                        </div>

                        <div class="inputwrapper">
                            <label for="preco3">Acima de 2h</label>
                            <input type="number" name="preco3" id="preco3" placeholder="R$" required>
                        </div>

                        <div class="inputwrapper" style="margin-top: 50px;">
                            <input id="change-price" type="submit" value="Efetuar a alteração">
                        </div>
                    </form>

                </div>
            </div>


            <script src="js/index.js"></script>
</body>
</html>