<!DOCTYPE html>
<html lang="pt-br">
<%- include('parts/head') -%>
<body>        
    <div class="container">
    <%- include('parts/pagamentoHeader') -%>
        <h1 class="orange-font payment-h1" style="font-size: 38px;">Método de pagamento: cartão de credito</h1>

        <form action="/pagamento-online/dados" method="post">

            <div class="inputwrapper">
                <label for="ticketID">Insira o ID do cartão do estacionamento</label>
                <input type="number" name="ticketID" id="ticketID" placeholder="0" required>
            </div>
            
            <div class="inputwrapper">
                <label for="numCartao">Insira o número do cartão de crédito</label>
                <input type="text" name="numCartao" id="numCartao" placeholder="0000.0000.0000.0000">   
            </div>

            <div class="inputwrapper">
                <input type="submit" value="Continuar">
            </div>
        </form>

    </div>
    
</body>
</html>