<!DOCTYPE html>
<html lang="pt-br">

<%- include('parts/head', { title: 'DavidCenter - Estacionamento' }) %>

<body>
    <%- include('parts/header'); %>



    <%- include('parts/aboutUs'); %>

    <%- include('parts/footer'); %>
</body>

</html>