<!DOCTYPE html>
<html lang="pt-br">

<%- include('parts/head') %>

<body>
    <div class="container">
    <%- include('parts/pagamentoHeader'); %>

    <h1 class="orange-font payment-h1">Dados do Ticket</h1>
    <%- include('parts/ticketTable', { ticket, payment, price }); %>

            <% if(!payment || !payment.validExit()) { %>
            <form action="/pagamento/<%= ticket.codigo %>" method="post">
                <div class="inputwrapper">
                    <button class="btn btn-primary btn-lg my-4" type="submit">Pagar</button>
                </div>
            </form>
            <% } else {%>
                <h4 class="pagamento-aprovado orange-font">Pagamento Efetuado Com Sucesso</h3>
            <% } %>





    </div>
    
</body>
</html>